.container {
  height: 100%;
  display: grid;
  grid-template-columns: 
    calc(50vw - 38rem) 
    repeat(12, 1fr) 
    calc(50vw - 38rem);
  grid-template-areas: 
    ". info info info feed feed feed feed feed feed rec rec rec .";
  gap: 1.5rem;
  justify-items: center;
}

@media only screen and (max-width: 800px) {
  .container {
    margin-top: 4rem;
    margin-bottom: 2rem;
    grid-template-columns: .5rem repeat(2, 1fr) .5rem;
    grid-template-areas: ". feed feed .";
    gap: .5rem;
    justify-items: center;
  }
}