.container {
  height: 100%;
  display: grid;
  grid-template-columns: 
    calc(50vw - 38rem) 
    repeat(12, 1fr) 
    calc(50vw - 38rem);
  grid-template-areas: 
    ". info info info article article article article article article article article article .";
  gap: .5rem;
  justify-items: center;
}

/* ArticleDetails Sidebar */
.sidebar {
  grid-area: info;
  width: 100%;
}

/* Article */
.articleContainer {
  grid-area: article;
  width: 100%;
  font-size: 1.2rem;
  margin-bottom: 3rem;
  min-width: 30rem;
  padding: 0;
  background-color: var(--base-component-white);
  border-radius: .75rem;
  text-align: left;
}

:global(.darkmode) .articleContainer {
  background: var(--dark-component-grey);
}

:global(.darkmode) .articleContainer * {
  background: none;
}

.ownerButtons {
  margin: .5rem;
  display: flex;
  justify-content: space-between;
}

.ownerButton {
  line-height: 2rem;
  font-size: 1.1rem;
  margin: 0 1rem;
  background: linear-gradient(var(--base-scroll-blue), var(--base-blue));
}

:global(.darkmode) .ownerButton {
  background: linear-gradient(var(--base-darkblue), var(--dark-component-darkgrey));
}


.title {
  font-size: 2.5rem;
  font-weight: 900;
  margin: 1rem 2rem;
}

:global(.darkmode) .title {
  color: var(--base-blue);
}

.header, .intro, .articleBody {
  margin: 1rem 2rem;
  text-indent: 2rem;
}

.articleContainer p {
  margin-top: .3rem;
}

.header {
  display: flex;
  justify-content: space-between;
  color: var(--base-fade-grey);
  text-indent: 0;
}

.header a {
  text-decoration: none;
  color: var(--base-fade-grey);
}

.header a:hover {
  text-decoration: underline;
}

:global(#report-button).reportButton {
  padding: .1rem .2rem;
  line-height: 1.5rem;
  border-radius: .75rem;
  border: none;
  outline: none;
  opacity: 0.5;
  transition: all .3s;
  min-width: 7rem;
  font-size: .7rem;
  margin: 1rem 1rem;
  background: linear-gradient(#FF5858, #FF2323);
  color: var(--base-component-white);
}

:global(.darkmode) :global(#report-button).reportButton {
  background: linear-gradient(#FF5858, #FF2323);
  color: var(--base-component-white);
}

:global(#report-button).reportButton:hover {
  opacity: 1;
  box-shadow: none;
}

.reportIcon {
  margin-bottom: -.2rem;
}


.navButtons {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
}

.navButtons a {
  background: none;
  border: none;
}

.navButtons img {
  height: 2.5rem;
}

.navButtons a:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition-duration: .2s;
}

@media only screen and (max-width: 768px) {
  .container {
    margin: 4.5rem .5rem 2rem .5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .articleContainer {
    padding: 1rem 0;
    margin-bottom: .2rem;
  }

  .articleContainer .ownerButtons {
    margin: 0 .8rem;
  }

  .ownerButton {
    animation: none;
  }

  .reportButton {
    min-width: 6rem;
    padding: 0;
  }
}