.container {
  display: flex;
  flex-direction: column;
  padding: .3rem;
  margin-right: -.7rem;
  height: 81.5vh;
  overflow: auto;
}

.noArticlesMessage,
.noArticlesMessage * {
  background: none;
}

.noArticlesMessage p {
  margin-top: -1rem;
  font-size: 1.1rem;
  font-weight: 700;
}