.container {
  display: flex;
  flex-direction: column;
  padding: .3rem;
  height: 81.5vh;
  overflow: auto;
}

.noArticlesMessage,
.noArticlesMessage * {
  background: none;
}

.noArticlesMessage p {
  margin-top: -1rem;
  font-size: 1.1rem;
  font-weight: 700;
}

@media only screen and (max-width: 800px) {
  .container {
    width: 94%;
  }
  .container::-webkit-scrollbar {
    width: .3rem;
  }
}