.darkModeButton,
.darkModeButton img {
  cursor: pointer;
  background: none;
  border: none;
  border-radius: 50%;
  box-shadow: none;
  transition: unset;
}

.darkModeButton:hover,
.darkModeButton img:hover {
  cursor: pointer;
  background: none;
  border: none;
  border-radius: 50%;
  box-shadow: none;
}

:global(.darkmode) .darkModeButton,
:global(.darkmode) .darkModeButton img {
  cursor: pointer;
  background: none;
  border: none;
  border-radius: 50%;
  box-shadow: none;
  transition: unset;
}