@keyframes moving-gradient {
  from {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 100%;
  }
  to {
    background-position: 0% 50%;
  }
}

:root {
  --base-background: #9DD7F6;
  --base-semi-darkblue: #15458a;
  --base-darkblue: #1a3861;
  --base-blue: #38B6FF;
  --base-shadow-blue: #1b4469;
  --base-scroll-blue: #64B5F7;
  --base-component-white: #E8F7FF;
  --base-fade-grey: #bdbdbd;
  --lightblue-border: #9cd8fa;
  --dark-component-grey: #27303d;
  --dark-component-darkgrey: #161B22;
  --dark-base-background: #0D1117;
  --dark-light-darkgrey: #3a4658;
  --dark-darkgrey: #112541;
  --dark-shadow-blue: #3d84e7;
  --dark-semi-darkblue: #257aac;
  --dark-fade-grey: #5b6e8b;
  --error-red: #FF2323;
  --error-background: rgba(240, 128, 128, 0.644);
  --valid-green: #1FAD0D; 
  --valid-background: rgba(80, 236, 148, 0.658);
}

.App {
  text-align: center;
}

body {
  background-color: var(--base-background);
  color: var(--base-darkblue);
  font-size: 16px;
}

body,
body * {
  transition: all .2s;
}

body.darkmode {
  background-color: var(--dark-base-background);
}

.darkmode * {
  color: var(--base-component-white);
}

main {
  margin: 4rem .5rem 2rem .5rem;
}

h2 {
  font-size: 1.4rem;
  font-weight: 900;
  margin: .5rem;
}

h3 {
  font-size: 1.3rem;
  font-weight: 800;
  margin: .5rem;
}

h4 {
  font-size: 1.2rem;
  font-weight: 700;
  margin: .5rem;
}

h5 {
  font-size: 1.1rem;
  font-weight: 700;
  margin: .5rem;
}

select {
  border-radius: .3rem;
  border: var(--lightblue-border) solid .15rem;
  color: var(--base-darkblue);
}

select:focus {
  outline: none;
  border: var(--base-semi-darkblue) solid .15rem;
}

.darkmode select {
  border: var(--dark-darkgrey) solid .15rem;
  background: var(--dark-base-background);
}

.darkmode select:focus {
  border: var(--dark-semi-darkblue) solid .15rem;
}

div .errors {
  margin-left: 1rem;
  justify-self: left;
}

.errors ul {
  list-style-image: url("https://img.icons8.com/ios-filled/10/dd3939/x.png");
}

.errors .error {
  font-weight: 900;
  margin: .2rem 0;
  color: var(--error-red);
}

/* Custom Scrollbar */
/* width */
::-webkit-scrollbar {
  width: .5rem;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: none;
  border-radius: 10px;
}

.on-scrollbar::-webkit-scrollbar-thumb {
  background: var(--base-scroll-blue);
}

/* Browser autofill styling */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: var(--base-darkblue);
}

.darkmode input:-webkit-autofill,
.darkmode input:-webkit-autofill:hover,
.darkmode input:-webkit-autofill:focus,
.darkmode input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: var(--base-component-white);
}

/* Button styling (Basic) */
button {
  border-radius: .75rem;
  border: none;
  outline: none;
  box-shadow: 0 2px 12px -3px var(--base-darkblue);
  opacity: 0.85;
  transition: all .3s;
}

.darkmode button {
  box-shadow: 0 2px 12px -3px var(--dark-semi-darkblue);
}

button:hover {
  cursor: pointer;
  opacity: 1;
  box-shadow: 0 2px 12px -3px var(--dark-base-background);
}

/* Tooltip */
.tooltip {
  visibility: hidden;
  width: 4rem;
  background-color: #fff;
  color: #555;
  box-shadow: 1px 2px 8px -3px #555;
  text-align: center;
  padding: .3rem .6rem;
  border-radius: .25rem;
  position: absolute;
  z-index: 1;
  bottom: -15%;
  right: 100%;
  margin-left: 0;
  opacity: 0;
  transition: opacity 0.3s;
}

button:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.darkmode .tooltip {
  background-color: #555;
  color: #fff;
  box-shadow: 1px 2px 8px -3px var(--dark-shadow-blue);
}

button.disabled:hover {
  cursor: not-allowed;
}

button.disabled:hover .tooltip {
  visibility: hidden;
  opacity: 0;
}

.action-buttons .tooltip:hover {
  visibility: hidden;
  opacity: 0;
}

/* Form Input */
.form-input {
  display: flex;
  flex-direction: column-reverse;
  text-align: left;
  width: 100%;
}

.darkmode .form-input {
  background: none;
}
 .form-input label {
  font-size: 1.1rem;
  margin: .4rem 0 .2rem 0;
}
 .invalid label {
  font-weight: 900;
  color: var(--error-red);
}

.darkmode .form-input label {
  background: none;
  color: var(--base-blue);
}

.darkmode .invalid label {
  background: none;
  font-weight: 900;
  color: var(--error-red);
}
 .form-input input,  
 .form-input textarea, 
 .form-input select  {
  border: .1rem transparent solid;
  border-radius: .25rem;
  background: var(--base-component-white)7e;
  box-shadow: 0 2px 8px -3px var(--base-darkblue);
  height: 2rem;
}
 .invalid input,  .invalid textarea, .invalid select  {
  border: .1rem transparent solid;
  border-radius: .25rem;
  background: #d35b5b96;
  box-shadow: 0 2px 8px 1px var(--error-red);
  height: 2rem;
}
 .form-input textarea {
  font-size: 1rem;
  height: 20rem;
}

.darkmode .form-input input, 
.darkmode .form-input textarea,
.darkmode .form-input select  {
  border: .1rem transparent solid;
  background: var(--dark-component-darkgrey)93;
  box-shadow: 0 2px 8px -3px var(--base-blue);
}

.darkmode .invalid input, 
.darkmode .invalid textarea,
.darkmode .invalid select  {
  background: #380e1093;
  box-shadow: 0 2px 8px -3px var(--error-red);
}

.form-input input:focus, .form-input textarea:focus {
  border: var(--dark-component-darkgrey) solid .1rem;
}

.darkmode .form-input input:focus, .darkmode .form-input textarea:focus {
  border: var(--base-blue) solid .1rem;
}

/* ============= Content Styling (Error Page) ======================== */
.error-div {
  margin: 7rem .5rem 2rem .5rem;
  height: 100%;
  display: grid;
  grid-template-columns: 
    calc(50vw - 38rem) 
    repeat(4, 1fr) 
    calc(50vw - 38rem);
  grid-template-areas: 
    ". pic pic pic pic ."
    ". status status status status ."
    ". message message message message ."
    ". stack stack stack stack ."
    ". . . . . ."
    ". . btn btn . .";
  gap: .5rem;
  justify-items: center;
  color: var(--base-darkblue);
}

.darkmode .error-div, .darkmode .error-div * {
  color: var(--base-blue);
  background: none;
}

/* Grid Area Declarations */
.error-div img {
  grid-area: pic;
}
.error-div .status-code {
  grid-area: status;
}
.error-div .error-message {
  grid-area: message;
}
.error-div .error-stack {
  grid-area: stack;
}
.error-div .button-secondary {
  grid-area: btn;
}
/*---------------------------*/

.error-div .status-code {
  font-size: 4rem;
  font-weight: 900;
}

.error-div .error-message {
  font-size: 1.2rem;
  font-weight: 900;
}

.error-div .error-stack {
  margin: 2rem 0;
  font-size: .9rem;
  color: var(--base-component-white);
  background: var(--error-red);
  padding: 1rem;
  border-radius: .25rem;
  max-width: 40rem;
  text-align: left;
  font-family: 'Courier New', Courier, monospace;
}

.darkmode .error-div .error-stack {
  color: var(--error-background);
  background: var(--dark-component-grey);
}

/* ============= Content Styling (Results Page) ======================== */
.results-page-content {
  margin: 5rem .5rem 2rem .5rem;
  height: 100%;
  display: grid;
  grid-template-columns: 
    calc(50vw - 38rem) 
    repeat(12, 1fr) 
    calc(50vw - 38rem);
  grid-template-areas: 
    ". info info info feed feed feed feed feed feed rec rec rec .";
  gap: 1.5rem;
  justify-items: center;
}

.results-page-content .results {
  display: flex;
  flex-direction: column;
  padding: .3rem;
  margin-right: -.7rem;
  height: fit-content;
  max-height: 27vh;
  min-height: 12rem;
  overflow: auto;
  margin: 1rem 0 0 0;
  background: var(--base-component-white);
  border-radius: .75rem;
}

.users a {
  text-decoration: none;
}

.users a:hover {
  text-decoration: underline;
}

.results-page-content .users {
  overflow: unset;
  max-height: 20vh;
  min-height: 10rem;
} 

.results-page-content .empty {
  height: fit-content;
  min-height: 0;
}

.results-page-content .empty h4 {
  font-size: 1.1rem;
  font-weight: 500;
}

.darkmode .results-page-content .results {
  background: var(--dark-component-darkgrey);
}

.darkmode .results-page-content .results h4,
.darkmode .results-page-content .results h5 {
  color: var(--base-blue);
  background: none;
}

.info-bar {
  background-color: var(--base-scroll-blue);
  color: var(--base-component-white);
  margin: 0 0 .5rem 0;
  border-radius: .75rem;
  padding: .2rem 0;
  text-align: center;
  width: 100%;
}

.info-bar h4 {
  margin: .2rem;
}

.darkmode .results-page-content .info-bar, .darkmode .results-page-content .info-bar * {
  background: var(--dark-component-grey);
  color: var(--base-blue);
}

.results .user-results-main {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  margin: -.5rem 0 0 0;
  grid-template-areas: "prev user next";
  justify-content: space-between;
  align-items: center;
}

/* Grid Area Declarations */
.user-results-main .previous {
  grid-area: prev;
}
.user-results-main .user-card {
  grid-area: user;
}
.user-results-main .next {
  grid-area: next;
}
/*---------------------------*/

.user-results-main .nav-btn {
  background: none;
  box-shadow: none;
  margin: none;
}

.user-card {
  display: flex;
  justify-content: center;
}

.user-card .rec-user {
  border-radius: .75rem;
  background: white;
  padding: .3rem;
  margin: 1rem 0 .5rem 0;
  box-shadow: 0 2px 12px -3px var(--base-darkblue);
}

.darkmode .user-card .rec-user {
  background: var(--dark-component-grey);
  box-shadow: 0 2px 12px -3px var(--dark-shadow-blue);
}

.points {
  display: flex;
  width: 100%;
  justify-content: center;
}

.points .point {
  padding: .35rem;
  border-radius: 50%;
  margin: .5rem;
  background: var(--base-darkblue);
  opacity: .5;
}

.points .point-selected {
  opacity: 1;
  transform: scale(1.2);
}

.darkmode .points .point {
  background: var(--base-blue);
}

.results-page-content .topics button {
  background: none;
  box-shadow: none;
  opacity: .3;
}

.results-page-content .topics button:hover {
  opacity: 1;
}

.results-page-content .results .article-cards {
  width: 98%;
}

.results-page-content .results .article-card {
  margin-bottom: 1.5rem;
}

.darkmode .results-page-content .results .article-cards * {
  background: none;
}

.darkmode .results-page-content .results .article-card:hover {
  background: var(--dark-component-grey);
}



/* ============== Small Screen Content Styling  ======================= */
@media only screen and (max-width: 800px) {
  /* ============= Base Styling ======================================= */
  body {
    font-size: 18px;
  }



  /* ============= Header and Footer Styling ========================== */
  /* ====== Header ====== */
  .header {
    top: 0;
    width: 100vw;
    min-height: 4vh;
    max-height: 7vh;
    display: grid;
    display: grid;
    grid-template-columns: 
      1fr 1fr 1fr 1fr 1fr .5fr 1.5fr;
    grid-template-areas: 
      "name search . select select select profile";
    gap: .2rem;
    align-items: center;
  }

  .header .my-profile-div {
    margin: 0 .3rem 0 0;
  }

  /* Header logo */
  .logo-home-a {
    margin: 0;
  }

  .logo-home-a h2 {
    display: none;
  }

  /* Header search */
  .header .search {
    position: relative;
  }

  .header .toggle-mobile-search {
    padding-left: 0;
    background: none;
    box-shadow: none;
  }

  .mobile-search {
    position: absolute;
    top: 2.9rem;
    left: -24vw;
    width: 110vw;
    padding: .2rem 0 .5rem 0;
    background: var(--base-blue);
  }

  .darkmode .mobile-search {
    background: var(--dark-component-darkgrey);
  }

  /* Sign buttons */
  .header .sign-buttons {
    margin-left: 0;
    margin-right: .25rem;
  }

  .header .sign-buttons a button,
  .darkmode .header .sign-buttons a button {
    margin: 0;
    box-shadow: none;
    background: none;
  }

  /* Header dropdown */
  .header-dropdown {
    bottom: -200%;
    width: fit-content;
  }

  /* ====== Footer ====== */
  .footer {
    width: 100vw;
    max-height: 5vh;
    font-size: .8rem;
  }


  /* ============= Content Styling (Main Page) ======================== */
  .main-page-content {
    margin: 11vh .5rem 0 .5rem;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-items: center;
  }

  /* menu bar */
  .menu-bar {
    display: flex;
    align-items: center;
    margin-bottom: .2rem;
  }

  .menu-bar img {
    margin: 0 .3rem -.2rem 0;
  }

  /* Article cards */
  .main-page-content .article-cards {
    padding: 0;
    height: 77vh;
    margin: 0;
  }

  .main-page-content .article-card {
    margin: .3rem 0;
  }

  .main-page-content .article-card:hover {
    transform: none;
    box-shadow: none;
  }

  /* ============= Content Styling (User profile Page) ================= */
  .user-profile-page {
    margin: 6rem .5rem 2rem .5rem;
    grid-template-columns: .5rem repeat(4, 1fr) .5rem;
  }

  .user-profile-div {
    max-width: 95vw;
  }

  /* User Profile info header */
  .user-profile-info-header {
    grid-template-columns: .5rem repeat(2, 1fr) .5rem;
    grid-template-areas:
        "header header header header"
        ". name-occ-bio name-occ-bio ."
        ". stats stats .";
  }

  .user-profile-info-header .profile-pic {
    height: 5rem;
    width: 5rem;
    left: calc(50% - 2.75rem);
  }

  .user-profile-info-header span.full-name {
    margin-top: 0;
  }

  .user-profile-info-header h2.full-name {
    margin-top: .2rem;
  }

  .user-profile-info-header .full-name img {
    margin-bottom: .2rem;
  }

  .user-profile-info-header .stats {
    margin-bottom: 0;
    width: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
      'active active'
      'articles credits'
      'followers following';
    gap: .5rem
  }

  .stats .stat {
    justify-content: space-between;
  }

  .user-profile-div .stat .title {
    margin: 0;
  }

  /* stats grid declaration */
  .stats .most-active-field {
    grid-area: active;
  }
  .stats .articles {
    grid-area: articles;
  }
  .stats .credits {
    grid-area: credits;
  }
  .stats .followers {
    grid-area: followers;
  }
  .stats .following {
    grid-area: following;
  }
  /*------------------------*/

  /* Articles Published/Accredited */
  .user-profile-div .title {
    margin-bottom: .5rem;
  }

  .articles-published .article-card, 
  .articles-accredited .article-card {
    width: 95%;
  }

  .articles-published .article-card .title, 
  .articles-accredited .article-card .title {
    margin: .1rem 0;
  }

  /* ============= Content Styling (My Profile Page) ================= */
  .my-profile-page {
    margin: 6rem 0 2rem 0;
    grid-template-columns: .5rem repeat(4, 1fr) .5rem;
    grid-template-areas: ". content content content content .";
  }

  .user-profile-info-header .button-primary {
    font-size: 1rem;
    min-width: 6rem;
    right: -4%;
    bottom: 0%;
  }

  /* Edit Profile Pop-Up */
  #edit-profile-div {
    padding-left: .2rem;
    width: unset;
    min-width: 60vw;
    max-width: 90vw;
    min-height: 75vh;
    max-height: 75vh;
    grid-template-columns: .25fr 1.5fr;
    grid-template-rows: .5fr repeat(3, 1fr);
    grid-template-areas:
        "edit-header main"
        "sidebar main"
        "sidebar main"
        "sidebar main";
    gap: .5rem;
  }

  .edit-popup {
    left: 0;
    margin: 0;
    margin-top: -5rem;
  }

  #edit-profile-div .edit-header {
    padding: 0;
  }

  #edit-profile-div .edit-sidebar {
    padding: 0;
  }

  .edit-user-form {
    grid-template-columns: .1fr repeat(2, 1fr) .1fr;
    grid-template-areas:
        '. h1 h1 .'
        '. firstName firstName .'
        '. lastName lastName .'
        '. occupation occupation .'
        '. mostActiveField mostActiveField .'
        '. bio bio .'
        '. btn btn .';
    grid-gap: .2rem;
    min-width: 40vw;
  }

  .edit-user-form .form-input textarea {
    height: 5rem;
  }

  #edit-account {
    grid-template-areas:
        '. h1 h1 .'
        '. oldPass oldPass .'
        '. email email .'
        '. pass pass .'
        '. confPass confPass .'
        '. btn btn.';
  }

  .upload-popup {
    left: 0;
    margin: 0;
    margin-top: -5rem;
  }

  .image-uploader-div {
    top: calc(50vh - 6.5rem);
    left: calc(50vw - 7.5rem);
    width: 9rem;
    padding: 3rem;
  }

  /* ============= Content Styling (SignIn Page) ====================== */
  .user-login-div {
    grid-template-columns: .5rem repeat(4, 1fr) .5rem;
    grid-template-areas: 
      ". form form form form .";
  }



  /* ============= Content Styling (SignUp Page) ====================== */
  .user-registration-div {
    margin-top: 5rem;
    grid-template-columns: .5rem repeat(2, 1fr) .5rem;
    grid-template-areas: 
      ". form form .";
  }

  .user-registration-form {
    grid-template-columns: .5rem repeat(4, 1fr) .5rem;
    grid-template-areas: 
      ". title title title title ."
      ". errors errors errors errors ."
      ". first first last last ."
      ". email email email email ."
      ". pass pass confirm-pass confirm-pass ."
      ". btn btn btn btn ."
      ". login-p login-p login-p login-p .";
  }

  .user-registration-div .mismatch label {
    font-weight: 500;
  }
  .user-registration-div .match label {
    font-weight: 500;
  }


  /* ============= Content Styling (Article Details Page) ============= */
  .content-article-details {
    margin: 4.5rem .5rem 2rem .5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* Article div */
  .article-div {
    padding: 1rem 0;
    margin-bottom: .2rem;
  }

  /* Info Mod */
  .info-mod {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
      'img table'
      'name table'
      'occupation table'
      'bio bio';
    justify-items: center;
  }

  .info-mod img {
    grid-area: img;
  }
  .info-mod .full-name {
    grid-area: name;
  }
  .info-mod .occupation {
    grid-area: occupation;
  }
  .info-mod table {
    grid-area: table;
  }
  .info-mod .bio {
    grid-area: bio;
  }

  /* Related Articles */
  .related-articles {
    padding: 0;
    margin: 0;
    height: 20vh;
    width: 98%;
    border: none;
  }

  /* Delete confirmation */
  .delete-confirmation {
    margin: 0;
    left: 0;
    top: 0;
  }

  /* ============= Content Styling (Create/UpdateArticle Page) ======== */
  .create-update-article-form {
    grid-template-areas: 
      '. h1 h1 h1 h1 .'
      '. title title title title .'
      '. intro intro intro intro .'
      '. body body body body .'
      '. date date topic topic.'
      '. tags tags tags tags .'
      '. btn btn btn btn .';
  }

  /* ============= Content Styling (Search Results Page) ======== */
  .results-page-content {
    grid-template-columns: .5rem repeat(2, 1fr) .5rem;
    grid-template-areas: ". feed feed .";
    gap: .5rem;
    justify-items: center;
  }

  .results-page-content .results {
    margin-top: .5rem;
  }

  .results-page-content .article-cards .article-card {
    font-size: .9rem;
    width: 98%;
    border-bottom: var(--dark-semi-darkblue) .1rem solid;
    border-top: var(--dark-semi-darkblue) .1rem solid;
  }

  .results-page-content .article-cards .article-card .credits {
    background: var(--dark-component-grey);
  }

  .results-page-content .article-cards .article-card h2 {
    font-size: 1.1rem;
  }
}

.invisible {
  display: none;
}

.selected {
  opacity: 1;
}
