@keyframes primaryButtonAnimation {
  from {
    transform: scale(1);
  }
  70% {
    transform: scale(1);
  }
  80% {
    transform: scale(1.06);
  }
  90% {
    transform: scale(0.94);
  }
  to {
    transform: scale(1);
  }
}

.button {
  font-size: unset;
  padding: .3rem .6rem .4rem;
  margin: unset;
  border-radius: .75rem;
  border: none;
  outline: none;
  box-shadow: 0 2px 12px -3px var(--base-darkblue);
  opacity: 0.85;
  transition: all .3s;
}

:global(.darkmode) button {
  box-shadow: 0 2px 12px -3px var(--dark-semi-darkblue);
}

.button:hover {
  cursor: pointer;
  opacity: 1;
  box-shadow: 0 2px 12px -3px var(--dark-base-background);
}

.primaryButton {
  composes: button;
  background: linear-gradient(var(--base-scroll-blue), var(--base-blue));
  color: var(--base-component-white);
}

.primaryButton :local {
  animation: primaryButtonAnimation 6s 3s infinite ease-in-out;
}

:global(.darkmode) .primaryButton {
  background: linear-gradient(var(--base-darkblue), var(--dark-component-darkgrey));
}

.secondaryButton {
  composes: button;
  font-size: .9rem;
  padding: .1rem .4rem .2rem;
  height: fit-content;
  align-self: center;
  margin-left: .5rem;
  background: var(--base-component-white);
  color: var(--base-darkblue);
}

:global(.darkmode) .secondaryButton {
  background: var(--dark-component-grey);
  color: var(--base-component-white);
}