.App {
  text-align: center;
}

body {
  background-color: #9DD7F6;
  color: rgb(0, 36, 104);
  font-size: 16px;
}

body.darkmode {
  background-color: #0D1117;
}

.darkmode * {
  background-color: #0D1117;
  color: #E8F7FF;
}

h2 {
  font-size: 1.4rem;
  font-weight: 900;
  margin: .5rem;
}

h4 {
  font-size: 1.2rem;
  font-weight: 800;
  margin: .5rem;
}

/* Custom Scrollbar */
/* width */
::-webkit-scrollbar {
  width: .5rem;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: none;
  border-radius: 10px;
}

.on-scrollbar::-webkit-scrollbar-thumb {
  background: #64B5F7;
}

/* ==================== Header and Footer Styling ===================== */
.header, .footer {
  background-color: #38B6FF;
  color: white;
  padding: .6rem 0;
  position: fixed;
  width: 100%;
}

.darkmode .header, .darkmode .footer {
  background-color: #161B22;
}

.header {
  top: 0;
  display: grid;
  display: grid;
  grid-template-columns: 
    calc( 50vw - 38rem )
    repeat(6, 1fr)
    calc( 50vw - 38rem );
  grid-template-areas: 
    ". name name search search profile profile .";
  gap: 1.5rem;
  align-items: center;
}

.logo-home-a {
  text-decoration: none;
  color: white;
  grid-area: name;
  justify-self: left;
  margin: 0 .7rem;
  display: flex;
  align-items: center;
}

.darkmode .logo-home-a {
  background: #161B22;
}

.logo-home-a h2 {
  font-size: 1.2rem;
  margin: 0;
}

.logo-home-a img {
  height: 4rem;
  width: 4rem;
  margin: -.6rem 0;
  border-radius: 50%;
}

.darkmode .logo-home-a img {
  transform: scale(0.8);
}

.header .search {
  justify-self: center;
  grid-area: search;
}

.search input {
  border: none;
  padding: .3rem .8rem;
  border-radius: .75rem;
  background-color: #E8F7FF;
}

.search input:focus {
  outline: none;
}

.header .my-profile-div {
  justify-self: right;
  display: flex;
  align-items: center;
  grid-area: profile;
  margin: 0 .7rem;
  text-decoration: none;
}

.darkmode .my-profile-div {
  background: #161B22;
}

.darkmode-button {
  background: none;
  border: none;
}

.darkmode .darkmode-button {
  background: #161B22;
}

.header .my-profile-div a {
  border: none;
  color: #E8F7FF;
  background: none;
  margin: 0 .7rem 0 .3rem;
  font-weight: 900;
  text-decoration: none;
}

.header .my-profile-div a:hover {
  cursor: pointer;
  text-shadow: black 2px 2px 2px;
}

.darkmode .header .my-profile-div a:hover {
  text-shadow: #38B6FF 2px 2px 2px;
}

.header .my-profile-div img {
  border-radius: 50%;
}

.header .my-profile-div img:hover {
  transform: scale(1.1);
  transition-duration: 0.3s;
}

.header .sign-buttons {
  justify-self: right;
  display: flex;
  grid-area: profile;
  margin: 0 .7rem;
  text-decoration: none;
}

.header .sign-buttons button {
  border: none;
  border-radius: .75rem;
  margin-left: .5rem;
  padding: .2rem .5rem;
  color: rgb(0, 36, 104);
  background:  #E8F7FF;
  font-weight: 500;
}

.darkmode .header .sign-buttons button {
  background: #161B22;
  color: #E8F7FF;
}

.header .sign-buttons button:hover {
  cursor: pointer;
  background-color: rgb(118, 205, 255);
}

.footer {
  bottom: 0;
  display: flex;
}

.footer .trademark {
  margin-left: .7rem;
}

.darkmode .footer * {
  background: #161B22;
}

/* ================ Content Styling (Main Page) ======================= */
.main-page-content {
  margin: 5rem .5rem 2rem .5rem;
  height: 100%;
  display: grid;
  grid-template-columns: 
    calc(50vw - 38rem) 
    repeat(12, 1fr) 
    calc(50vw - 38rem);
  grid-template-areas: 
    ". info info info feed feed feed feed feed feed rec rec rec .";
  gap: 1.5rem;
  justify-items: center;
}

/* Info Module Styling */
.info-mod {
  grid-area: info;
  background-color: #E8F7FF;
  border-radius: .75rem;
  padding: .5rem 0;
  width: 100%;
  max-width: 15rem;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.darkmode .info-mod, .darkmode .info-mod * {
  background: #161B22;
}

.info-mod img {
  border-radius: 50%;
  width: 75px;
  height: 75px;
  margin: 0 0 .3rem 0;
}

.info-mod .full-name {
  font-weight: 900;
}

.info-mod .occupation {
  color: rgb(91, 116, 163);
}

.info-mod .bio {
  margin: .5rem 0;
}

.info-mod table {
  margin: .5rem 0;
  width: 80%;
}

.info-mod table th {
  text-align: left;
}

.info-mod table td {
  text-align: center;
}

/* Feed Styling */
.feed {
  grid-area: feed;
  width: 100%;
}

/* Recommend Module Styling */
.rec-mod {
  grid-area: rec;
  width: 100%;
  max-width: 300px;
  height: fit-content;
  margin-top: -.25rem;
}

.rec-mod table {
  width: 100%;
  margin-bottom: .5rem;
}

.table-spacing {
  border-collapse: separate;
  border-spacing: .25rem;
}

.rec-mod th {
  color: #E8F7FF;
  background-color: #64B5F7;
  border-radius: .4rem;
  padding: .3rem;
}

.darkmode .rec-mod th {
  background: #27303d;
  color: #38B6FF;
}

.rec-mod td {
  color: rgb(0, 36, 104);
  border-radius: .4rem;
  background-color: #E8F7FF;
  padding: .3rem;
}

.darkmode .rec-mod td {
  background: #161B22;
  color: #E8F7FF;
}

/* MenuBar Styling */
.menu-bar {
  background-color: #64B5F7;
  margin: 0 0 .5rem 0;
  border-radius: .75rem;
  padding: .4rem .1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.darkmode .menu-bar, .darkmode .menu-bar * {
  background: #161B22;
  color: #38B6FF;
}

.menu-bar button {
  border-radius: .6rem;
  color: rgb(0, 36, 104);
  background-color: #E8F7FF;
  border: none;
  padding: .2rem .6rem;
  margin: 0 .3rem;
}

.darkmode .menu-bar button {
  background: #27303d;
  color: #38B6FF;
}

.menu-bar button:hover {
  cursor: pointer;
  background-color: rgb(118, 234, 255);
}

.darkmode .menu-bar button:hover {
  background: #1a3861;
}

/* Article Cards Styling */
.article-cards {
  display: flex;
  flex-direction: column;
  padding: .3rem;
  margin-right: -.7rem;
  height: 81.5vh;
  overflow: auto;
}

.darkmode .article-cards * {
  background: #161B22;
}

/* Article Card Styling */
.article-card {
  background-color: #E8F7FF;
  margin: 0 .1rem .5rem .1rem;
  border: none;
  border-radius: .75rem;
  padding: .3rem 0;
  width: 99%;
}

.article-cards a {
  text-decoration: none;
}

.article-card-headline {
  display: flex;
  justify-content: space-between;
  margin: 0 1rem;
}

.article-card h2 {
  margin-bottom: .1rem;
  color: rgb(0, 36, 104);
}

.darkmode .article-card h2 {
  color: #38B6FF;
}

.article-card span {
  color: rgb(91, 116, 163);
  text-align: center;
}

.article-card p {
  color: rgb(91, 116, 163);
  text-align: left;
  margin: .5rem 1rem;
}

.darkmode .article-card p {
  color: #E8F7FF;
}

.article-card:hover {
  transform: scale(1.02);
  box-shadow: #1b4469 0 2px 3px;
  transition-duration: 0.2s;
}

/* ============= Content Styling (Article Page) ======================= */
.content-article-details {
  margin: 5rem .5rem 2rem .5rem;
  height: 100%;
  display: grid;
  grid-template-columns: 
    calc(50vw - 38rem) 
    repeat(12, 1fr) 
    calc(50vw - 38rem);
  grid-template-areas: 
    ". info info info article article article article article article article article article .";
  gap: 1.5rem;
  justify-items: center;
}

/* ArticleDetails Sidebar */
.article-details-sidebar {
  grid-area: info;
  width: 100%;
}

/* Related Articles */
.related-articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  margin: 1rem -.7rem 0 0;
  height: 25vh;
  width: 100%;
  max-width: 14rem;
  font-size: .8rem;
  padding: .3rem;
  background: #E8F7FF;
  border: #E8F7FF .2rem solid;
  border-radius: .75rem;
}

.related-articles::-webkit-scrollbar {
  width: 0;
}

.related-articles .article-card {
  box-shadow: black -.05rem .05rem .2rem;
  width: 90%;
  margin: .2rem .3rem;
}

.related-articles a {
  text-decoration: none;
}

.related-articles h2 {
  margin-top: 0;
  font-size: .9rem;
}

/* Article */
.article-div {
  grid-area: article;
  font-size: 1.2rem;
  padding: 1rem;
  background-color: #E8F7FF;
  border-radius: .75rem;
  text-align: left;
}

.darkmode .article-div, .darkmode .article-div * {
  background: #27303d;
}

.article-div h1 {
  font-size: 2.5rem;
  font-weight: 900;
  margin: 1rem 1rem;
}

.darkmode .article-div h1 {
  color: #38B6FF;
}

.article-header, .article-intro, .article-body {
  margin: 1rem;
  text-indent: 2rem;
}

.article-header {
  display: flex;
  justify-content: space-between;
  color: #bdbdbd;
  text-indent: 0;
}

.article-header a {
  text-decoration: none;
  color: #bdbdbd;
}

.article-header a:hover {
  text-decoration: underline;
}

.article-div .nav-buttons {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
}

.article-div .nav-buttons a {
  background: none;
  border: none;
}

.nav-buttons img {
  height: 2.5rem;
}

.article-div .nav-buttons a:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition-duration: 0.2s;
}

/* ============== Content Styling (Userprofile Page) ================== */



/* ============== Content Styling (SignIn Page) ======================= */



/* ============== Content Styling (SignUp Page) ======================= */


/* ============== Small Screen Content Styling  ======================= */
@media only screen and (max-width: 800px) {
  /* ============= Base Styling ======================================= */



  /* ============= Header and Footer Styling ========================== */



  /* ============= Content Styling (Main Page) ======================== */



  /* ============= Content Styling (Userprofile Page) ================= */

  

  /* ============= Content Styling (SignIn Page) ====================== */



  /* ============= Content Styling (SignUp Page) ====================== */



  /* ============= Content Styling (Article Page) ===================== */



}