@keyframes sign-up-btn {
  from {
    transform: scale(1);
  }
  70% {
    transform: scale(1);
  }
  80% {
    transform: scale(1.06);
  }
  90% {
    transform: scale(0.94);
  }
  to {
    transform: scale(1);
  }
}

@keyframes loading-dots {
  0% {
    -webkit-transform: translateX(-4rem);
    transform: translateX(-4rem);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(4rem);
    transform: translateX(4rem);
    opacity: 0;
  }
}

@keyframes moving-gradient {
  from {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 100%;
  }
  to {
    background-position: 0% 50%;
  }
}

.App {
  text-align: center;
}

body {
  background-color: #9DD7F6;
  color: rgb(0, 36, 104);
  font-size: 16px;
}

body.darkmode {
  background-color: #0D1117;
}

.darkmode * {
  color: #E8F7FF;
}

h2 {
  font-size: 1.4rem;
  font-weight: 900;
  margin: .5rem;
}

h3 {
  font-size: 1.3rem;
  font-weight: 800;
  margin: .5rem;
}

h4 {
  font-size: 1.2rem;
  font-weight: 700;
  margin: .5rem;
}

h5 {
  font-size: 1.1rem;
  font-weight: 700;
  margin: .5rem;
}

select {
  border-radius: .3rem;
  border: #9cd8fa solid .15rem;
  color: #112541;
}

select:focus {
  outline: none;
  border: #38B6FF solid .15rem;
}

.darkmode select {
  border: #112541 solid .15rem;
  background: #0D1117;
}

.darkmode select:focus {
  border: #257aac solid .15rem;
}

.invisible {
  display: none;
}

div .errors {
  margin-left: 1rem;
  justify-self: left;
}

.errors ul {
  list-style-image: url("https://img.icons8.com/ios-filled/10/dd3939/x.png");
}

.errors .error {
  font-weight: 900;
  margin: .2rem 0;
  color: #dd3939;
}

/* Custom Scrollbar */
/* width */
::-webkit-scrollbar {
  width: .5rem;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: none;
  border-radius: 10px;
}

.on-scrollbar::-webkit-scrollbar-thumb {
  background: #64B5F7;
}

/* Browser autofill styling */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #162d41;
}

.darkmode input:-webkit-autofill,
.darkmode input:-webkit-autofill:hover,
.darkmode input:-webkit-autofill:focus,
.darkmode input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #E8F7FF;
}

/* Loading Component */
.loading-div {
  position: relative;
  height: 100%;
}

.darkmode .article-cards .loading-div,
.darkmode .articles-published .article-cards .loading-div,
.darkmode .articles-accredited .article-cards .loading-div {
  background: none;
}

.loader {
  position: absolute;
  top: 40%;
  left: 50%;
}

.article-div .loader {
  left: 45%;
}

.loader .dot {
  position: absolute;
  padding: .5rem;
  border-radius: 50%;
  background: #1a3861;
  -webkit-animation: loading-dots 1s ease-in-out 0s infinite;
  animation: loading-dots 1s ease-in-out 0s infinite;
}

.darkmode .loader .dot {
  background: #38B6FF;
}

.loader .dot:nth-child(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.loader .dot:nth-child(2) {
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
}

.loader .dot:nth-child(3) {
  -webkit-animation-delay: 0.30s;
  animation-delay: 0.30s;
}

.loader .dot:nth-child(4) {
  -webkit-animation-delay: 0.45s;
  animation-delay: 0.45s;
}


/* Button styling (primary - secondary) */
button {
  border-radius: .75rem;
  border: none;
  outline: none;
  box-shadow: 0 2px 12px -3px #1a3861;
  opacity: 0.85;
  transition: all .3s;
}

.darkmode button {
  box-shadow: 0 2px 12px -3px #3d84e7;
}

.button-primary {
  background: linear-gradient(#64B5F7, #38B6FF);
  color: #E8F7FF;
  animation: sign-up-btn 6s 3s infinite ease-in-out;
}

.darkmode .button-primary {
  background: linear-gradient(#1a3861, #161B22);
  animation: sign-up-btn 6s 3s infinite ease-in-out;
}

.button-secondary {
  background: #E8F7FF;
  color: #1a3861;
}

.darkmode .button-secondary {
  background: #27303d;
  color: #E8F7FF;
}

button:hover {
  cursor: pointer;
  opacity: 1;
  box-shadow: 0 2px 12px -3px #0D1117;
}


/* ==================== Header and Footer Styling ===================== */
.header, .footer {
  background-color: #38B6FF;
  color: white;
  padding: .6rem 0;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.darkmode .header, .darkmode .footer {
  background-color: #161B22;
}

.header {
  top: 0;
  display: grid;
  display: grid;
  grid-template-columns: 
    calc( 50vw - 38rem )
    repeat(6, 1fr)
    calc( 50vw - 38rem );
  grid-template-areas: 
    ". name select search search profile profile .";
  gap: 1.5rem;
  align-items: center;
}

.logo-home-a {
  text-decoration: none;
  color: white;
  grid-area: name;
  justify-self: left;
  margin: 0 .7rem;
  display: flex;
  align-items: center;
}

.darkmode .logo-home-a, .darkmode .logo-home-a * {
  background: none;
}

.logo-home-a h2 {
  font-size: 1.2rem;
  margin: 0;
}

.logo-home-a img {
  height: 4rem;
  width: 4rem;
  margin: -.6rem 0;
  border-radius: 50%;
}

.darkmode .logo-home-a img {
  transform: scale(0.8);
}

.header .topic-select {
  grid-area: select;
}

.header .topic-select select {
  padding: .3rem;
  font-size: 1.1rem;
  font-family: 'Times New Roman', Times, serif;
  width: 100%;
}

.darkmode .header .topic-select {
  background: none;
}

.header .search {
  justify-self: center;
  grid-area: search;
}

.search input {
  border: none;
  padding: .3rem .8rem;
  border-radius: .75rem;
  color: #112541;
  background-color: #E8F7FF;
}

.search input:focus {
  outline: none;
}

.header .my-profile-div {
  justify-self: right;
  display: flex;
  align-items: center;
  grid-area: profile;
  margin: 0 .7rem;
  text-decoration: none;
}

.header .my-profile-div img {
  height: 30px;
  width: 30px;
}

.darkmode .my-profile-div {
  background: #161B22;
}

.darkmode-button {
  cursor: pointer;
  background: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
  transition: unset;
}

.darkmode-button:hover {
  cursor: pointer;
  background: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.darkmode .darkmode-button {
  cursor: pointer;
  background: #161B22;
  border: none;
  border-radius: 0;
  box-shadow: none;
  transition: unset;
}

.header .my-profile-div a, .header .my-profile-div .signout-btn {
  border: none;
  box-shadow: none;
  padding: none;
  color: #E8F7FF;
  opacity: 1;
  font-weight: 500;
  line-height: 1rem;
  background: none;
  margin: 0 .7rem 0 .3rem;
  font-weight: 900;
  text-decoration: none;
  transition: all .3s;
}

.header .my-profile-div .signout-btn {
  margin-right: -.5rem;
}

.header .my-profile-div a:hover, .header .my-profile-div .signout-btn:hover {
  cursor: pointer;
  text-shadow: black 2px 2px 2px;
}

.darkmode .header .my-profile-div a:hover, .darkmode .header .my-profile-div .signout-btn:hover {
  text-shadow: #38B6FF 2px 2px 2px;
}

.header .my-profile-div img {
  border-radius: 50%;
}

.header .my-profile-div img:hover {
  transform: scale(1.1);
  transition-duration: 0.3s;
}

.header .sign-buttons {
  justify-self: right;
  display: flex;
  grid-area: profile;
  margin: 0 .7rem;
  text-decoration: none;
  transition: all .3s;
}

.darkmode .sign-buttons a {
  background-color: #161B22;
}

.header .sign-buttons a button {
  border: none;
  border-radius: .75rem;
  margin-left: .5rem;
  padding: .2rem .5rem;
  color: rgb(0, 36, 104);
  background:  #E8F7FF;
  font-weight: 500;
}

.darkmode .header .sign-buttons a button {
  background: #27303d;
  color: #38B6FF;
}

.header .sign-buttons a button:hover {
  cursor: pointer;
  background-color: rgb(118, 205, 255);
  color: #E8F7FF;
}

.darkmode .sign-buttons a button:hover {
  background: #1a3861;
}

.footer {
  bottom: 0;
  display: flex;
}

.footer .trademark {
  margin-left: .7rem;
}

.darkmode .footer * {
  background: #161B22;
  color: #38B6FF;
}

/* ================ Content Styling (Main Page) ======================= */
.main-page-content {
  margin: 5rem .5rem 2rem .5rem;
  height: 100%;
  display: grid;
  grid-template-columns: 
    calc(50vw - 38rem) 
    repeat(12, 1fr) 
    calc(50vw - 38rem);
  grid-template-areas: 
    ". info info info feed feed feed feed feed feed rec rec rec .";
  gap: 1.5rem;
  justify-items: center;
}

/* Info Module Styling */
.info-mod {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: info;
  background-color: #E8F7FF;
  border-radius: .75rem;
  padding: .5rem 0;
  width: 15rem;
  height: fit-content;
}

.darkmode .info-mod, .darkmode .info-mod * {
  background: #161B22;
}

.info-mod img {
  border-radius: 50%;
  width: 75px;
  height: 75px;
  padding: 0;
  margin: 0 0 .3rem 0;
}

.info-mod .placeholder {
  background: #1a3861;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  padding: 5px;
  margin: 0 0 .3rem 0;
}

.darkmode .info-mod .placeholder {
  background: none;
}

.info-mod .full-name {
  font-weight: 900;
}

.darkmode .full-name {
  color: #38B6FF;
}

.info-mod .occupation {
  color: rgb(91, 116, 163);
}

.info-mod .bio {
  margin: .5rem 0;
}

.info-mod table {
  margin: .5rem 0;
  width: 80%;
}

.info-mod table th {
  text-align: left;
}

.info-mod table td {
  text-align: center;
}

/* Feed Styling */
.feed {
  grid-area: feed;
  width: 100%;
}

/* Recommend Module Styling */
.rec-mod {
  grid-area: rec;
  width: 100%;
  max-width: 300px;
  height: fit-content;
  margin-top: -.25rem;
}

.rec-mod table {
  width: 100%;
  margin-bottom: .5rem;
}

.table-spacing {
  border-collapse: separate;
  border-spacing: .25rem;
}

.rec-mod th {
  color: #E8F7FF;
  background-color: #64B5F7;
  border-radius: .4rem;
  padding: .3rem;
}

.darkmode .rec-mod th {
  background: #27303d;
  color: #38B6FF;
}

.rec-mod td {
  color: rgb(0, 36, 104);
  border-radius: .4rem;
  background-color: #E8F7FF;
  padding: .3rem;
}

.darkmode .rec-mod td {
  background: #161B22;
  color: #E8F7FF;
}

/* MenuBar Styling */
.menu-bar {
  background-color: #64B5F7;
  margin: 0 0 .5rem 0;
  border-radius: .75rem;
  padding: .4rem .1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.darkmode .menu-bar, .darkmode .menu-bar * {
  background: #161B22;
  color: #38B6FF;
}

.menu-bar button {
  border-radius: .6rem;
  color: rgb(0, 36, 104);
  background-color: #E8F7FF;
  border: none;
  padding: .2rem .6rem;
  margin: 0 .3rem;
}

.darkmode .menu-bar button {
  background: #27303d;
  color: #38B6FF;
}

.menu-bar .selected {
  color: #E8F7FF;
  background-color: rgb(0, 36, 104);
}

.darkmode .menu-bar .selected {
  background: #38B6FF;
  color: #27303d;
}

.menu-bar button:hover {
  cursor: pointer;
  background-color: rgb(118, 234, 255);
}

.darkmode .menu-bar button:hover {
  background: #1a3861;
}

/* Article Cards Styling */
.article-cards {
  display: flex;
  flex-direction: column;
  padding: .3rem;
  margin-right: -.7rem;
  height: 81.5vh;
  overflow: auto;
}

.darkmode .article-cards * {
  background: #161B22;
}

/* Article Card Styling */
.article-card {
  background-color: #E8F7FF;
  margin: 0 .1rem .5rem .1rem;
  border: none;
  border-radius: .75rem;
  padding: .3rem 0;
  width: 99%;
}

.article-cards a {
  text-decoration: none;
}

.article-card-headline {
  display: flex;
  justify-content: space-between;
  margin: 0 1rem;
}

.article-card h2 {
  margin-bottom: .1rem;
  color: rgb(0, 36, 104);
}

.darkmode .article-card h2 {
  color: #38B6FF;
}

.article-card button {
  box-shadow: none;
  opacity: 1;
}

.article-card span {
  color: rgb(91, 116, 163);
  text-align: center;
}

.article-card p {
  color: rgb(91, 116, 163);
  text-align: left;
  margin: .5rem 1rem;
}

.darkmode .article-card p {
  color: #E8F7FF;
}

.article-card:hover {
  transform: scale(1.02);
  box-shadow: #1b4469 0 2px 3px;
  transition-duration: 0.2s;
}

/* ============= Content Styling (Article Page) ======================= */
.content-article-details {
  margin: 5rem .5rem 2rem .5rem;
  height: 100%;
  display: grid;
  grid-template-columns: 
    calc(50vw - 38rem) 
    repeat(12, 1fr) 
    calc(50vw - 38rem);
  grid-template-areas: 
    ". info info info article article article article article article article article article .";
  gap: .5rem;
  justify-items: center;
}

/* ArticleDetails Sidebar */
.article-details-sidebar {
  grid-area: info;
  width: 100%;
}

/* Related Articles */
.related-articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  margin: 1rem -.7rem 0 0;
  height: 25vh;
  width: 14rem;
  font-size: .8rem;
  padding: .3rem;
  background: #E8F7FF;
  border: #E8F7FF .2rem solid;
  border-radius: .75rem;
}

.darkmode .related-articles {
  background: #161B22;
  border: #161B22 .2rem solid;
}

.darkmode .related-articles * {
  background: #161B22;
}

.related-articles::-webkit-scrollbar {
  width: 0;
}

.related-articles .article-card {
  box-shadow: black -.05rem .05rem .2rem;
  width: 90%;
  margin: .2rem .3rem;
}

.darkmode .related-articles .article-card {
  box-shadow: #38B6FF -.04rem .04rem .2rem;
}

.related-articles a {
  text-decoration: none;
}

.related-articles h2 {
  margin-top: 0;
  font-size: .9rem;
}

.darkmode .related-articles h2 {
  color: #38B6FF;
}

/* Article */
.article-div {
  grid-area: article;
  width: fit-content;
  min-width: 10rem;
  font-size: 1.2rem;
  margin-bottom: 3rem;
  padding: 1rem;
  background-color: #E8F7FF;
  border-radius: .75rem;
  text-align: left;
}

.darkmode .article-div, .darkmode .article-div * {
  background: #27303d;
}

.article-div .button-primary {
  line-height: 2rem;
  font-size: 1.1rem;
  margin-left: 1rem;
  background: linear-gradient(#64B5F7, #38B6FF);
}

.darkmode .article-div .button-primary {
  background: linear-gradient(#1a3861, #161B22);
}


.article-div h1 {
  font-size: 2.5rem;
  font-weight: 900;
  margin: 1rem 1rem;
}

.darkmode .article-div h1 {
  color: #38B6FF;
}

.article-header, .article-intro, .article-body {
  margin: 1rem;
  text-indent: 2rem;
}

.article-header {
  display: flex;
  justify-content: space-between;
  color: #bdbdbd;
  text-indent: 0;
}

.article-header a {
  text-decoration: none;
  color: #bdbdbd;
}

.article-header a:hover {
  text-decoration: underline;
}

.article-div .nav-buttons {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
}

.article-div .nav-buttons a {
  background: none;
  border: none;
}

.nav-buttons img {
  height: 2.5rem;
}

.article-div .nav-buttons a:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition-duration: 0.2s;
}

/* ============= Content Styling (Create Article Page) ======================= */
.create-update-article-div {
  margin: 5rem .5rem 2rem .5rem;
  height: 100%;
  display: grid;
  grid-template-columns: 
    calc(50vw - 38rem) 
    repeat(3, 1fr)
    calc(50vw - 38rem);
  grid-template-areas: 
    ". form form form .";
  gap: .5rem;
  justify-items: center;
}

.create-update-article-form {
  grid-area: form;
  display: grid; 
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas: 
    '. h1 h1 h1 h1 .'
    '. title title title title .'
    '. intro intro intro intro .'
    '. body body body body .'
    '. date topic tags tags .'
    '. btn btn btn btn .';
  grid-gap: .5rem;
  background: linear-gradient(90deg, #E8F7FF, #a6d7ff, #cce4ff, #a6f9ff );
  background-size: 400% 400%;
  animation: moving-gradient 30s ease infinite;
  box-shadow: 0 2px 12px -3px #112541;
  padding: 1rem 0 2rem 0;
  border-radius: .75rem;
  justify-items: center;
}

.darkmode .create-update-article-form {
  background: linear-gradient(90deg, #2b2b55, #162d41, #23364d, #19393b );
  background-size: 400% 400%;
  animation: moving-gradient 30s ease infinite;
}

/* Grid Area Declarations */
.create-update-article-form .h1 {
  grid-area: h1;
}
.create-update-article-form .title {
  grid-area: title;
}
.create-update-article-form .intro {
  grid-area: intro;
}
.create-update-article-form .body {
  grid-area: body;
}
.create-update-article-form .date {
  grid-area: date;
}
.create-update-article-form .topic {
  grid-area: topic;
}
.create-update-article-form .tags {
  grid-area: tags;
}
.create-update-article-form .form-buttons {
  grid-area: btn;
}
/*---------------------------*/

.create-update-article-form h1 {
  font-weight: 900;
  font-size: 1.6rem;
  margin: 0 0 1rem 0;
}

.darkmode .create-update-article-form h1 {
  background: none;
  color: #38B6FF;
}

.create-update-article-form .form-input {
  display: flex;
  flex-direction: column-reverse;
  text-align: left;
  width: 100%;
}

.darkmode .create-update-article-form .form-input {
  background: none;
}

.create-update-article-form .form-input label {
  font-size: 1.1rem;
  margin: .4rem 0 .2rem 0;
}

.darkmode .create-update-article-form .form-input label {
  background: none;
  color: #38B6FF;
}

.create-update-article-form .form-input input, 
.create-update-article-form .form-input textarea,
.create-update-article-form .form-input select  {
  border: none;
  border-radius: .25rem;
  background: #e8f7ff7e;
  box-shadow: 0 2px 8px -3px #1a3861;
  height: 2rem;
}

.create-update-article-form .form-input textarea {
  font-size: 1rem;
  height: 20rem;
}

.darkmode .create-update-article-form .form-input input, 
.darkmode .create-update-article-form .form-input textarea,
.darkmode .create-update-article-form .form-input select  {
  background: #161b2293;
  box-shadow: 0 2px 8px -3px #38B6FF;
}
 .create-update-article-form .form-input input:focus, .create-update-article-form .form-input textarea:focus {
  border: #162d41 solid .1rem;
  margin: -.1rem;
  outline: none;
}

.darkmode .create-update-article-form .form-input input:focus, .darkmode .create-update-article-form .form-input textarea:focus {
  border: #38B6FF solid .1rem;
  margin: -.1rem;
  outline: none;
}

.darkmode .date input::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.create-update-article-form .topic-select select {
  width: 100%;
  min-width: none;
}

.create-update-article-form .form-buttons {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: .8rem;
}

.darkmode .create-update-article-form .form-buttons {
  background: none;
}

.create-update-article-form .form-buttons button {
  line-height: 2rem;
  font-size: 1.1rem;
}

.create-update-article-form .form-buttons .button-primary {
  min-width: 6rem;
  width: 30%;
}

.create-update-article-form .form-buttons .button-secondary {
  min-width: 4rem;
  width: 15%;
}


/* ============== Content Styling (Userprofile Page) ================== */
.user-profile-page {
  margin: 7rem .5rem 2rem .5rem;
  height: 100%;
  display: grid;
  grid-template-columns: 
    calc(50vw - 38rem) 
    repeat(4, 1fr) 
    calc(50vw - 38rem);
  grid-template-areas: 
    ". content content content content .";
  gap: .5rem;
  justify-items: center;
}

.user-profile-div {
  margin-bottom: 3rem;
  grid-area: content;
  display: flex;
  flex-direction: column;
}

/*UserProfile info-header*/
.user-profile-info-header {
  background: #E8F7FF;
  border-radius: .75rem;
  padding: 1rem .3rem;
  display: grid;
  grid-template-columns: 
    repeat(12, 1fr);
  grid-template-areas: 
    "header header header header header header header header header header header header"
    ". follow . . . name-occupation name-occupation . . . . ."
    ". stats stats stats stats stats stats stats stats stats stats  .";
  gap: .5rem;
  justify-items: center;
}

.darkmode .user-profile-info-header, .darkmode .user-profile-info-header * {
  background: #161B22;
}

/* Grid Area Declarations */
.user-profile-info-header .header-img-div {
  grid-area: header;
}

.user-profile-info-header .name-and-occupation {
  grid-area: name-occupation;
}

.user-profile-info-header .stats {
  grid-area: stats;
}

/*---------------------------*/

.user-profile-info-header .header-img-div {
  position: relative;
  width: 100%;
}

.user-profile-info-header .header-img {
  width: 100%;
  border-radius: .75rem;
  margin: -.7rem 0 .5rem 0;
}

.user-profile-info-header .profile-pic {
  border:#E8F7FF 4px solid;
  background: #E8F7FF;
  border-radius: 50%;
  height: 120px;
  width: 120px;
  position: absolute;
  right: 50%;
  bottom: -10%;
  margin-right: -62px;
  z-index: 1;
}

.darkmode .user-profile-info-header .profile-pic {
  border: #161B22 4px solid;
  background: #161B22;
}


.user-profile-info-header .profile-pic:hover {
  transform: scale(1.1) translateY(-.3rem);
  transition: all .3s;
}

.user-profile-info-header .full-name {
  margin-top: 1rem;
  color: #1b4469;
}

.darkmode .user-profile-info-header .full-name {
  color: #38B6FF;
}

.user-profile-info-header .occupation{
  color: #bdbdbd;
}

.darkmode .user-profile-info-header .occupation {
  color: #5b6e8b;
}

.user-profile-info-header button {
  line-height: 2rem;
  border-radius: .75rem;
  border: none;
  outline: none;
  box-shadow: 0 2px 12px -3px #1a3861;
  opacity: 0.85;
  transition: all .3s;
}

.darkmode .user-profile-info-header button {
  box-shadow: 0 2px 12px -3px #3d84e7;
}

.user-profile-info-header .button-primary {
  position: absolute;
  width: 15%;
  right: 0%;
  bottom: 3%;
  min-width: 5rem;
  font-size: 1.1rem;
  margin: 1rem 1rem;
  background: linear-gradient(#64B5F7, #38B6FF);
  color: #E8F7FF;
  animation: sign-up-btn 6s 3s infinite ease-in-out;
}

.darkmode .user-profile-info-header .button-primary {
  background: linear-gradient(#1a3861, #161B22);
  animation: sign-up-btn 6s 3s infinite ease-in-out;
}

.user-profile-info-header button:hover {
  cursor: pointer;
  opacity: 1;
  box-shadow: 0 2px 12px -3px #0D1117;
}

.user-profile-info-header .stats {
  margin: 1rem 0;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.user-profile-info-header .stat {
  display: flex;
  align-items: center;
  min-width: fit-content;
  background: #64B5F7;
  color: #E8F7FF;
  padding: .2rem .2rem .2rem .4rem;
  border-radius: .3rem;
}

.darkmode .user-profile-info-header .stat {
  background: #1b4469;
}

.darkmode .user-profile-info-header .title {
  background: none;
  color: #38B6FF;
}

.user-profile-info-header .data {
  padding: .2rem .5rem;
  margin-left: .2rem;
  background: #9DD7F6;
  color: #1a3861;
  border-radius: .2rem;
}

.darkmode .user-profile-info-header .data {
  background: #112541;
  color: #a6f9ff;
}


/*UserProfile Articles-Published*/
.articles-published {
  grid-area: published;
  margin: 1rem 0 0 0;
  background: #E8F7FF;
  border-radius: .75rem;
}

.darkmode .articles-published, .darkmode .articles-published * {
  background: #161B22;
}

.articles-published .title {
  margin: 1rem 0 2rem 0;
}

.darkmode .articles-published .title {
  color: #38B6FF;
}

.articles-published .sort-nav {
  margin-top: -1rem;
  display: flex;
  justify-content: center;
}

.sort-nav div {
  display: flex;
}

.sort-nav div * {
  margin-left: .5rem;
  min-width: 8rem;
  align-items: center;
}

.sort-nav select {
  width: 50%;
}

.sort-nav label {
  word-wrap: nowrap;
  width: 50%;
}

.articles-published .article-cards {
  max-height: 20rem;
  align-items: center;
}

.darkmode .articles-published .article-cards {
  background: none;
}

.articles-published .article-card {
  width: 80%;
  max-width: 60rem;
  border-bottom: #bdbdbd solid .1rem;
  border-radius: 0;
  box-shadow: none;
  margin: .5rem .3rem;
}

/*UserProfile Articles Recently Accredited*/
.articles-accredited {
  grid-area: accredited;
  margin: 1rem 0 0 0;
  background: #E8F7FF;
  border-radius: .75rem;
}

.darkmode .articles-accredited, .darkmode .articles-accredited * {
  background: #161B22;
}

.articles-accredited .title {
  margin: 1rem 0 2rem 0;
}

.darkmode .articles-accredited .title {
  color: #38B6FF;
}

.articles-accredited .article-cards {
  max-height: 20rem;
  align-items: center;
}


.darkmode .articles-accredited .article-cards {
  background: none;
}

.articles-accredited .article-card {
  width: 80%;
  max-width: 60rem;
  border-bottom: #bdbdbd solid .1rem;
  border-radius: 0;
  box-shadow: none;
  margin: .5rem .3rem;
}

/* ============== Content Styling (My profile Page) ================== */
.my-profile-page {
  margin: 5rem .5rem 2rem .5rem;
  height: 100%;
  display: grid;
  grid-template-columns: 
    calc(50vw - 38rem) 
    repeat(4, 1fr) 
    calc(50vw - 38rem);
  grid-template-areas: 
    ". content content content rec-ppl .";
  gap: 1rem;
  justify-items: center;
}

.my-profile-page .rec-ppl {
  grid-area: rec-ppl;
  width: 100%;
  max-height: 28rem;
  background: #E8F7FF;
  border-radius: .75rem;
}

.darkmode .rec-ppl, .darkmode .rec-ppl * {
  background: #161B22;
}

.my-profile-page .rec-ppl h2 {
  font-size: 1.2rem;
}

.rec-user {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: 
    "pic name"
    "pic occupation"
    "pic btns";
}

/* Grid Area Declarations */
.rec-user .profile-pic {
  grid-area: pic;
}

.rec-user .full-name {
  grid-area: name;
}

.rec-user .occupation {
  grid-area: occupation;
}

.rec-user .buttons {
  grid-area: btns;
}
/*---------------------------*/

.rec-user {
  margin: 1rem .5rem;
  text-align: left;
}

.darkmode .rec-user {
  background: #161B22;
}

.rec-user .profile-pic img {
  border-radius: 50%;
  height: 4rem;
  margin-right: .5rem;
}

.rec-user .button-primary {
  width: 40%;
  height: 70%;
  animation: none;
}
.rec-user .button-secondary {
  margin-left: .3rem;
  width: 40%;
  height: 70%;
  animation: none;
}

.my-profile-page .rec-user .full-name {
  text-decoration: none;
  color: #162d41;
}

.darkmode .rec-user .full-name p {
  color: #38B6FF;
}

.my-profile-page .rec-user .full-name:hover {
  text-decoration: underline;
}

.my-profile-page .rec-user .occupation {
  color: #bdbdbd;
}

/* ============== Content Styling (SignIn Page) ======================= */
.user-login-div {
  margin: 7rem .5rem 2rem .5rem;
  height: 100%;
  display: grid;
  grid-template-columns: 
    calc(50vw - 38rem) 
    repeat(12, 1fr) 
    calc(50vw - 38rem);
  grid-template-areas: 
    ". . . . . form form form form . . . . .";
  gap: .5rem;
  justify-items: center;
}

.user-login-form {
  grid-area: form;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas: 
    ". title title title title ."
    ". errors errors errors errors ."
    ". email email email email ."
    ". pass pass pass pass ."
    ". btn btn btn btn ."
    ". signup-p signup-p signup-p signup-p .";
  gap: .5rem;
  justify-items: center;
  background: linear-gradient(-45deg, #cfd0ff, #a6d7ff, #cce4ff, #a6f9ff );
  background-size: 400% 400%;
  animation: moving-gradient 15s ease infinite;
  box-shadow: 0 2px 12px -3px #112541;
  padding: 1rem;
  border-radius: .75rem;
  align-items: center;
  text-align: center;
}

.darkmode .user-login-form {
  background: linear-gradient(-45deg, #2b2b55, #162d41, #23364d, #19393b );
  background-size: 400% 400%;
  animation: moving-gradient 15s ease infinite;
}

.darkmode .user-login-form * {
  background: none;
}

/* Grid area declarations */
.user-login-form h1 {
  grid-area: title;
}

.user-login-form .errors {
  grid-area: errors;
}

.user-login-form .email {
  grid-area: email;
}

.user-login-form .pass {
  grid-area: pass;
}

.user-login-form .form-buttons {
  grid-area: btn;
}

.user-login-form p {
  grid-area: signup-p;
}
/*---------------------------*/

.user-login-form h1 {
  font-size: 1.5rem;
  font-weight: 900;
}

.user-login-form label {
  margin-bottom: .2rem;
}

.user-login-form input {
  border: none;
  border-radius: .25rem;
  background: #e8f7ff7e;
  box-shadow: 0 2px 8px -3px #1a3861;
  height: 2rem;
}

.darkmode .user-login-form input {
  background: #161b2293;
  box-shadow: 0 2px 8px -3px #38B6FF;
}

.user-login-form .form-input {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
}

.user-login-form .form-buttons {
  display: flex;
  justify-content: center;
  width: 80%;
}

.user-login-form button {
  line-height: 2rem;
  border-radius: .75rem;
  border: none;
  outline: none;
  box-shadow: 0 2px 12px -3px #1a3861;
  opacity: 0.85;
  transition: all .3s;
}

.darkmode .user-login-form button {
  box-shadow: 0 2px 12px -3px #3d84e7;
}

.user-login-form .button-primary {
  width: 50%;
  min-width: 5rem;
  font-size: 1.1rem;
  margin: 1rem 1rem;
}

.darkmode .user-login-form .button-primary {
  background: linear-gradient(#1a3861, #161B22);
  animation: sign-up-btn 6s 3s infinite ease-in-out;
}

.user-login-form .button-secondary {
  width: 30%;
  min-width: 4rem;
  font-size: 1rem;
  margin: 1rem 1rem;
  background: #E8F7FF;
  color: #1a3861;
}

.darkmode .user-login-form .button-secondary {
  background: #27303d;
  color: #E8F7FF;
}

.user-login-form button:hover {
  cursor: pointer;
  opacity: 1;
  box-shadow: 0 2px 12px -3px #0D1117;
}

.user-login-form p {
  text-align: center;
}


/* ============== Content Styling (SignUp Page) ======================= */
.user-registration-div {
  margin: 7rem .5rem 2rem .5rem;
  height: 100%;
  display: grid;
  grid-template-columns: 
    calc(50vw - 38rem) 
    repeat(12, 1fr) 
    calc(50vw - 38rem);
  grid-template-areas: 
    ". . . . form form form form form form . . . .";
  gap: .5rem;
  justify-items: center;
}

.user-registration-form {
  grid-area: form;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas: 
    ". title title title title ."
    ". errors errors errors errors ."
    ". first first last last ."
    ". email email email email ."
    ". pass pass confirm-pass confirm-pass ."
    ". btn btn btn btn ."
    ". login-p login-p login-p login-p .";
  gap: .5rem;
  justify-items: center;
  background: linear-gradient(-45deg, #cfd0ff, #a6d7ff, #cce4ff, #a6f9ff );
  background-size: 400% 400%;
  animation: moving-gradient 15s ease infinite;
  box-shadow: 0 2px 12px -3px #112541;
  padding: 1rem;
  border-radius: .75rem;
  align-items: center;
  text-align: center;
}

.darkmode .user-registration-form {
  background: linear-gradient(-45deg, #2b2b55, #162d41, #23364d, #19393b );
  background-size: 400% 400%;
  animation: moving-gradient 15s ease infinite;
}

.darkmode .user-registration-form * {
  background: none;
}

/* Grid area declarations */
.user-registration-form h1 {
  grid-area: title;
}

.user-registration-div .errors {
  grid-area: errors;
}

.user-registration-form .first-name {
  grid-area: first;
}

.user-registration-form .last-name {
  grid-area: last;
}

.user-registration-form .email {
  grid-area: email;
}

.user-registration-form .pass {
  grid-area: pass;
}

.user-registration-form .confirm-pass {
  grid-area: confirm-pass;
}

.user-registration-form .form-buttons {
  grid-area: btn;
}

.user-registration-form p {
  grid-area: login-p;
}
/*---------------------------*/

.user-registration-form h1 {
  font-size: 1.5rem;
  font-weight: 900;
}

.user-registration-form label {
  margin-bottom: .2rem;
}

.user-registration-form input {
  border: none;
  border-radius: .25rem;
  background: #e8f7ff7e;
  box-shadow: 0 2px 8px -3px #1a3861;
  height: 2rem;
}

.darkmode .user-registration-form input {
  background: #161b2293;
  box-shadow: 0 2px 8px -3px #38B6FF;
}

.user-registration-form .form-input {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
}

.user-registration-div .missmatch input {
  background: rgba(240, 128, 128, 0.644);
}

.user-registration-div .missmatch label {
  color: rgb(212, 31, 31);
  font-weight: 900;
}

.user-registration-div .match input {
  background:rgba(80, 236, 148, 0.658);
}

.user-registration-div .match label {
  color: rgb(31, 173, 13);
  font-weight: 900;
}

.user-registration-form .form-buttons {
  display: flex;
  justify-content: center;
  width: 80%;
}

.user-registration-form button {
  line-height: 2rem;
  border-radius: .75rem;
  border: none;
  outline: none;
  box-shadow: 0 2px 12px -3px #1a3861;
  opacity: 0.85;
  transition: all .3s;
}

.darkmode .user-registration-form button {
  box-shadow: 0 2px 12px -3px #3d84e7;
}

.user-registration-form .button-primary {
  width: 50%;
  font-size: 1.1rem;
  margin: 1rem 1rem;
}

.user-registration-form .active {
  background: linear-gradient(#64B5F7, #38B6FF);
  color: #E8F7FF;
  animation: sign-up-btn 6s 3s infinite ease-in-out;
}

.user-registration-form .disabled {
  background: #5b6e8b;
  color: #bdbdbd;
  animation: none;
}

.user-registration-form .disabled:hover {
  cursor: not-allowed;
  background: #5b6e8b;
  opacity: .85;
  box-shadow: 0 2px 12px -3px #1a3861;
}

.darkmode .user-registration-form .active {
  background: linear-gradient(#1a3861, #161B22);
  animation: sign-up-btn 6s 3s infinite ease-in-out;
}

.darkmode .user-registration-form .disabled {
  background: #3a4658;
  color: #8b8b8b;
  animation: none;
}

.darkmode .user-registration-form .disabled:hover {
  cursor: not-allowed;
  background: #3a4658;
  opacity: .85;
  box-shadow: 0 2px 12px -3px #3d84e7;
}

.user-registration-form .button-secondary {
  width: 30%;
  font-size: 1rem;
  margin: 1rem 1rem;
  background: #E8F7FF;
  color: #1a3861;
}

.darkmode .user-registration-form .button-secondary {
  background: #27303d;
  color: #E8F7FF;
}

.user-registration-form button:hover {
  cursor: pointer;
  opacity: 1;
  box-shadow: 0 2px 12px -3px #0D1117;
}

.user-registration-form p {
  text-align: center;
}

/* ============= Content Styling (Error Page) ======================== */
.error-div {
  margin: 7rem .5rem 2rem .5rem;
  height: 100%;
  display: grid;
  grid-template-columns: 
    calc(50vw - 38rem) 
    repeat(4, 1fr) 
    calc(50vw - 38rem);
  grid-template-areas: 
    ". pic pic pic pic ."
    ". status status status status ."
    ". message message message message ."
    ". stack stack stack stack .";
  gap: .5rem;
  justify-items: center;
  color: #1a3861;
}

.darkmode .error-div, .darkmode .error-div * {
  color: #38B6FF;
  background: none;
}

/* Grid Area Declarations */
.error-div img {
  grid-area: pic;
}
.error-div .status-code {
  grid-area: status;
}
.error-div .error-message {
  grid-area: message;
}
.error-div .error-stack {
  grid-area: stack;
}
/*---------------------------*/

.error-div .status-code {
  font-size: 4rem;
  font-weight: 900;
}

.error-div .error-message {
  font-size: 1.2rem;
  font-weight: 900;
}

.error-div .error-stack {
  margin: 2rem 0;
  font-size: .9rem;
  color: #E8F7FF;
  background: #dd3939;
  padding: 1rem;
  border-radius: .25rem;
  max-width: 40rem;
  text-align: left;
  font-family: 'Courier New', Courier, monospace;
}

.darkmode .error-div .error-stack {
  color: brown;
  background: #27303d;
}

/* ============= Content Styling (Results Page) ======================== */
.results-page-content {
  margin: 5rem .5rem 2rem .5rem;
  height: 100%;
  display: grid;
  grid-template-columns: 
    calc(50vw - 38rem) 
    repeat(12, 1fr) 
    calc(50vw - 38rem);
  grid-template-areas: 
    ". info info info feed feed feed feed feed feed rec rec rec .";
  gap: 1.5rem;
  justify-items: center;
}

.results-page-content .results {
  display: flex;
  flex-direction: column;
  padding: .3rem;
  margin-right: -.7rem;
  height: fit-content;
  max-height: 27vh;
  min-height: 12rem;
  overflow: auto;
  margin: 1rem 0 0 0;
  background: #E8F7FF;
  border-radius: .75rem;
}

.users a {
  text-decoration: none;
}

.users a:hover {
  text-decoration: underline;
}

.results-page-content .users {
  overflow: unset;
  max-height: 20vh;
  min-height: 10rem;
} 

.results-page-content .empty {
  height: fit-content;
  min-height: 0;
}

.results-page-content .empty h4 {
  font-size: 1.1rem;
  font-weight: 500;
}

.darkmode .results-page-content .results {
  background: #161B22;
}

.darkmode .results-page-content .results h4,
.darkmode .results-page-content .results h5 {
  color: #38B6FF;
  background: none;
}

.info-bar {
  background-color: #64B5F7;
  color: #E8F7FF;
  margin: 0 0 .5rem 0;
  border-radius: .75rem;
  padding: .2rem 0;
  text-align: center;
  width: 100%;
}

.info-bar h4 {
  margin: .2rem;
}

.darkmode .results-page-content .info-bar, .darkmode .results-page-content .info-bar * {
  background: #27303D;
  color: #38B6FF;
}

.results .user-results-main {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  margin: -.5rem 0 0 0;
  grid-template-areas: "prev user next";
  justify-content: space-between;
  align-items: center;
}

/* Grid Area Declarations */
.user-results-main .previous {
  grid-area: prev;
}
.user-results-main .user-card {
  grid-area: user;
}
.user-results-main .next {
  grid-area: next;
}
/*---------------------------*/

.user-results-main .nav-btn {
  background: none;
  box-shadow: none;
  margin: none;
}

.user-card {
  display: flex;
  justify-content: center;
}

.user-card .rec-user {
  border-radius: .75rem;
  background: white;
  padding: .3rem;
  margin: 1rem 0 .5rem 0;
  box-shadow: 0 2px 12px -3px #1a3861;
}

.darkmode .user-card .rec-user {
  background: #27303D;
  box-shadow: 0 2px 12px -3px #3d84e7;
}

.points {
  display: flex;
  width: 100%;
  justify-content: center;
}

.points .point {
  padding: .35rem;
  border-radius: 50%;
  margin: .5rem;
  background: #1a3861;
  opacity: .5;
}

.points .point-selected {
  opacity: 1;
  transform: scale(1.2);
}

.darkmode .points .point {
  background: #38B6FF;
}

.results-page-content .topics button {
  background: none;
  box-shadow: none;
  opacity: .3;
}

.results-page-content .topics button:hover {
  opacity: 1;
}

.results-page-content .results .article-cards {
  width: 98%;
}

.results-page-content .results .article-card {
  margin-bottom: 1.5rem;
}

.darkmode .results-page-content .results .article-cards * {
  background: none;
}

.darkmode .results-page-content .results .article-card:hover {
  background: #27303D;
}



/* ============== Small Screen Content Styling  ======================= */
@media only screen and (max-width: 800px) {
  /* ============= Base Styling ======================================= */



  /* ============= Header and Footer Styling ========================== */



  /* ============= Content Styling (Main Page) ======================== */



  /* ============= Content Styling (Userprofile Page) ================= */

  

  /* ============= Content Styling (SignIn Page) ====================== */



  /* ============= Content Styling (SignUp Page) ====================== */



  /* ============= Content Styling (Article Page) ===================== */



}