.container {
  grid-area: search;
  position: relative;
}

.searchButton {
  position: absolute;
  background: var(--base-semi-darkblue);
  box-shadow: none;
  border-radius:  0 .75rem .75rem 0;
  padding: .1rem .8rem 0 .8rem;
  opacity: 1;
  right: 5%;
}

:global(.darkmode) .searchButton {
  box-shadow: 2px 0 8px -1px var(--dark-semi-darkblue);
  background: var(--dark-component-grey);
}

.searchButton:hover {
  box-shadow: none;
}

.input {
  border: none;
  width: 80%;
  padding: .3rem .8rem;
  border-radius: .75rem;
  color: var(--base-darkblue);
  background-color: var(--base-component-white);
}

:global(.darkmode) .input {
  background-color: var(--base-darkblue);
  color: var(--base-blue);
}

.input:focus {
  outline: none;
}

@media only screen and (max-width: 768px) {
  /* container search */
  .container {
    position: relative;
  }

  .toggleMobileSearch {
    padding-left: 0;
    background: none;
    box-shadow: none;
  }

  .toggleMobileSearch:hover {
    box-shadow: none;
  }

  :global(.darkmode) .toggleMobileSearch {
    box-shadow: none;
  }

  .mobileSearch {
    position: absolute;
    top: 2.9rem;
    left: -51px;
    width: 100vw;
    padding: .2rem 0 .5rem 0;
    background: var(--base-blue);
  }

  .mobileSearch > form  {
    display: flex;
    justify-content: center;
  }

  .mobileSearch > form > input  {
    border: var(--base-semi-darkblue) .15rem solid;
    padding: 0 .5rem;
    border-radius: .75rem 0 0 .75rem;
    width: 70vw;
  }

  .searchButton {
    position: unset;
    margin-left: -.1rem;
  }

  :global(.darkmode) .mobileSearch {
    background: var(--dark-component-darkgrey);
  }
  :global(.darkmode) .mobileSearch > form > input {
    background: var(--dark-component-darkgrey);
  }
}